@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.map-page {
  position: sticky;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  /* background: linear-gradient(#ACC729 20%, #F5F9F0 100%); */
  display: flex;
  max-height: 100dvh;
  flex-direction: column;
  overflow: hidden;
}

/* Top Location Bar */
.location-bar {
  position: sticky;
  width: 100%;
  height: 15dvh;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Left spacer — takes all available space on the left */
.spacer {
  flex: 1;
}
.location-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(143, 153, 132, 0.54);
  border-radius: 999px;
  padding: 5px 20px;
  backdrop-filter: blur(10px);
}
.location-box.dropdown {
  background: transparent;
}
/* Centered text */
.location-text {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking */
  padding-left: 10px;
}

/* Arrow button — stays right next to text */
.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s;
  flex-shrink: 0;
}

.dropdown-arrow {
  width: 40px;
  height: 40px;
  fill: #000;
  transition: transform 0.2s;
}

/* Map Container */
.map-container {
  height: 100dvh;
  left: 0;
  position: fixed;
  width: 100%;
}
.map-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  color: transparent;
}

.pin-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;     
  justify-content: flex-end;  
  align-items: center;
  z-index: 1000;
  padding-top: 80px;          
  overflow-y: scroll;
}

/* Main card */
.pin-popup-card {
  position: relative;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  min-height: 550px;
  max-width: 360px;
  border-radius: 30px 30px 0 0;
  overflow: scroll;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: #556B2F; /* fallback */
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: slideUp 0.5s ease-in-out;
  z-index: 20000;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Image at top */
.popup-image {
  width: 92%;
  height: 40%;
  min-height: 200px;
  margin-top: 14px;
  background-size: cover;
  background-position: center;
  border-radius: 30px 30px 0 0;
}

.popup-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup-content {
  flex: 0;                       
  background: #556B2F;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Title */
.popup-title {
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.3;
  padding-bottom: 5px;
  margin: 0 0 10px;
  font-size: 32px;
  color: #F0F9CA;
  font-weight: bold;
}

/* Check-in stat pill */
.popup-stat {
  font-family: "Poppins";
  font-weight: 200;
  display: inline-block;
  text-align: center;
  
  width: auto;
  min-width: 277;
  background: rgba(143, 153, 132, 0.54);
  color: white;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 13px;
}

/* Description */
.popup-desc {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 10px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Check-in button */
.checkin-btn {
  font-family: "Poppins";
  display: fixed;
  align-self: center;
  text-align: center;
  width: 160px;
  color: white;
  background: #7CB342;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin-top: auto;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.checkin-btn:hover {
  transform: translateY(-2px);
}

.checkin-btn:active {
  transform: translateY(0);
}

.travel-reminder {
  color:#D4A722;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.city-fullscreen-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100dvh;
  background: linear-gradient(#C6D870 25%, #F5F9F0 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  animation: fadeIn 0.25s ease-in;
}


.overlay-inner {
  position: relative;
  margin-top: 150px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}
.city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 60px 60px;
  justify-items: center;
}

.city-card {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  justify-items: center;
  padding: 0;
  width: 100%;
  transition: transform 0.3s ease;
  transform: scale(1); 
}
.city-card:hover {
  transform: scale(1.1); 
}

.city-card:hover .city-image {
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.city-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto 12px;
  /* border: 4px solid #C2CD8D; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.city-name {
  font-family: 'Inter';
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #1a3a1a;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.bubble-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 15px;
  bottom: 10dvh;
  z-index: 1000;
  gap: 15px;
}

.chat-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent;
  background: #7CB342;
  box-shadow: 0 4px 12px rgba(0,0,0,0.55);
  align-content: center;
}

.map-center-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #F5F9F0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.55);
  align-content: center;
}

.chat-icon {
  margin-top: 4px; 
  height: 23px;
  width: 23px;
}

.target-icon { 
  height: 25px;
  width: 25px;
}

.check-in-page {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(#ACC729 20%, #F5F9F0 100%);
  overflow-x: hidden;
  position: relative;
  text-align: center;
  overflow-y: scroll;
}

.top-bar {
  margin-top: 15px;
  margin-left: 5dvw;
  height: 18dvh;
  font-size: 25px;
  font-weight: bold;
}

.exit-btn {
  height: 18px;
  width: 18px;
  background: transparent;
  border: 0px;
}
.exit-btn:hover {
  transform: scale(1.05);
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.city-name-prof {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #F5F9F0;
}
.line {
  position: absolute;
  left: 22%;
  width: 56%;
  height: 3px;
  margin-top: 35px;
  background-color:#F0F9CA;
  position: relative;
}

.location-image {
  position: relative;
  width: 45vw;
  height: 45vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #C2CD8D;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.location-name {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 35px;
  font-weight: bold;
  color: #F5F9F0;
}

.popup-stat-checkin {
  display: inline-block;
  text-align: center;
  font-family: "Poppins";
  font-weight: 200;
  width: auto;
  min-width: 250;
  background: rgba(143, 153, 132, 0.54);
  color: white;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 13px;
  margin-bottom: 30px;
}


.popup-card {
  position: relative;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: auto;
  width: 90vw;
  height: 30vh;
  min-height: 300px;
  max-width: 360px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: #556B2F; /* fallback */
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.spark {
  position: absolute;
  left: 5%;
  top: 1%;
  padding-top: 30px;
  height: 70px;
  animation: wiggle 3s ease-in-out infinite;
}
.first-rew {
  align-self: flex-start;
  margin-left: 18%;
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #F0F9CA;
}
.ecopoint-icon {
  margin-top: 7%;
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.point {

  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 18%;
  font-size: 30px;
  font-weight: bold;
  color: #F0F9CA;
  gap: 8px;
  margin-top: 10px;
  animation: countUp 1s ease-out, wiggle 3s ease-in-out;
}

@keyframes countUp {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.popup-card.checked-in .spark,
.popup-card.checked-in .ecopoint-icon {
  opacity: 0.6; 
}
.popup-card.checked-in .spark {
  animation: none;
}
.popup-card.checked-in .first-rew,
.popup-card.checked-in .point {
  color: #A2B269; 
}

.checkin-progress-bar {
  margin-top: 20px;
  width: 100%;
  margin-left: 20%;
}
.prog-title{
  font-family:"Poppins";
  position: absolute;
  left: 10%;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 600;
  color: #F0F9CA;
}
.track-bar {
  position: relative;
  display: block;
  align-self: flex-start;
  width: 80%;
  height: 14px;
  background: #F0F9CA;
  border-radius: 10px;
  margin-top: 22px;
}
.fill-bar {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 80%;
  height: 10px;
  background: #7CB342;
  border-radius: 20px;
}
@keyframes fillProgress {
  from {
    width: 0;
  }
}
.expectant-bar {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 98%;
  height: 10px;
  background: rgba(124, 179, 66, 0.65);
  border-radius: 20px;
  opacity: 0;
  animation: contFillProgress ease-out 2s forwards;
}
@keyframes contFillProgress {
  from {
    width: 0px;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.prog-num{
  position: absolute;
  right: 11%;
  margin-top: 3px;
  font-size: 10px;
  font-weight: 600;
  color: #D4A722;
}
.prog-num-disabled{
  position: absolute;
  right: 11%;
  margin-top: 3px;
  font-size: 10px;
  font-weight: 700;
  color: #EFF5D2;
}

/* survey */
.checkin-back-btn {
  margin-left:7%;
  margin-top: 8%;
}
.vehicle-message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10%;
}
.congratulatory {
  font-weight: bold;
  font-size: 25px;
  line-height: 2;
  text-align: left;
  margin-right: 40px;
}
.point-survey {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-size: 30px;
  font-weight: bold;
  color: #F0F9CA;
  gap: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.line-vehicle {
  width: 200px;
  height: 3px;
  margin-top: 30px;
  background: #F0F9CA;
}
.message {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.7;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 8px;
  margin-right: 50px;
}
.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 40px;
  padding: 30px 30px;
  justify-items: center;
  margin-bottom: 30px;
}
.vehicle-card {
  cursor: pointer;
  text-align: center;
  justify-items: center;
  background: #EFF5D2;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-position: center;
  border: 3px solid #556B2F; 
  margin: 0 auto 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15)
}
.vehicle-card.selected {
  background: #F9E8BC;
  border: 3px solid #D4A722; 
}
.vehicle-card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}
.vehicle-image {
  background:transparent;
  margin-top: 18px;
  width: 60px;
  height: 60px;
}
.vehicle-name {
  padding: 35px;
  font-size: 20px;
  font-weight: 600;
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.popup-card-receipt {
  margin-top: auto;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 30%;
  min-height: 260px;
  max-width: 360px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background: #556B2F; 
  animation: slideUp 0.5s ease-in-out;
}

.popup-stat-receipt {
  font-family: "Poppins";
  font-weight: 200;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  min-width: 277;
  background: rgba(143, 153, 132, 0.54);
  color: white;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 13px;
}
.total-balance {
  display:flex;
  flex-direction: row;
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  color: #F0F9CA;
  gap: 8px;
  animation: reveal 0.8s ease-out, wiggle 2s ease-in-out 1s;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.page-transitioning {
  opacity: 0.8;
  transform: scale(0.98);
  transition: opacity 0.3s, transform 0.3s ease;
}
.check-in-page.page-enter {
  animation: slideInRight 0.3s ease-out forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.checkin-btn-disabled {
  font-family: "Poppins";
  display: fixed;
  align-self: center;
  text-align: center;
  width: 180px;
  color: white;
  background: #3C4136;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin-top: auto;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}